#root, html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}
.app{
  height: 100%;
  background:url('./images/advice-back.jfif') ;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
}
.card{
  padding: 5px;
  background-color: whitesmoke;
  width: 40%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 10px 10px;
}
.heading{
  display: flex;
  align-items: center;
  height: 580px;
  font-family: '', sans-serif;
  font-size: large;}
.button{
  padding: 10px;
  color:#164ca7;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
  background-color:whitesmoke;
  border-radius: 17px;
  margin-bottom: 10px;
  box-shadow: 1px 1px 5px 5px black ;
}
.button:hover{
  animation:rotate 0.7s ease-in-out both;

}
button:hover span{
  animation: storm 0.7s ease-in-out 0.06s both;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0,0,0);
  }
  25%{
    transform: rotate(3deg) translate3d(0,0,0);
  }
  50%{
    transform: rotate(-3deg) translate3d(0,0,0);
  }
  75%{
    transform: rotate(1deg) translate3d(0,0,0);
  }
  100%{
    transform: rotate(0deg) translate3d(0,0,0);
  }
}
@keyframes storm {
  0%{
    transform: translate3d(0,0,0) translateZ(0);
  }
  25%{
    transform: translate3d(4px,0,0) translateZ(0);
  }
  0%{
    transform: translate3d(-3px,0,0) translateZ(0);
  }
  0%{
    transform: translate3d(2px,0,0) translateZ(0);
  }
  0%{
    transform: translate3d(0,0,0) translateZ(0);
  }
  
}
@media only screen and (max-width: 1000px) {
  .card{width: 50%;
  height: 40%;}

  
}


.icon-row {
  display: flex;
  gap: 10px; /* Adjust the gap as needed */
}

.icon {
  cursor: pointer;
}

.icon-gap {
  flex: 1; /* This creates a flexible space to act as a gap between icons */
}
